.searchbarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
}
.container {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #d0d0d0;
  widows: 100%;
  padding: 0.3rem;
  width: 100%;
}

.container input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}

.container button {
  border: none;
  background: transparent;
}

.filterButton {
  cursor: pointer;
  color: #9a9a9a;
  font-weight: bolder;
}

@media (max-width: 600px) {
  .container {
    margin: 0 1rem;
  }
}
