nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 3rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  position: sticky;
  top: 0;
  z-index: 50;
  background: #fff;
}

.logoContainer {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.logo {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
.logoContainer button {
  margin-top: 4px;
}
nav a {
  color: black;
}

.links {
  display: flex;
  gap: 1rem;
  align-items: center;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
.createNote {
  color: #5348c7;
  padding: 3px;
  border-radius: 3px;
  font-weight: bold;
}

@media (max-width: 890px) {
  nav {
    padding: 10px;
  }
  .logoContainer {
    gap: 10px;
  }
  .logo {
    font-size: 20px;
  }
}
@media (min-width: 890px) {
  nav button {
    display: none;
  }
  .links {
    display: none;
  }
}
