.trashPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.trashNoteList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  padding: 3px 10px;
  cursor: pointer;
}

@media (max-width: 620px) {
  .trashNoteList {
    margin: 0 1rem;
  }
}
